@import "tailwindcss";

.bg-dotted {
  --dot-size: 1px;
  --dot-gap: 28px;

  background-image: radial-gradient(
    circle var(--dot-size),
    rgba(255, 255, 255, 0.05) 99%,
    transparent 100%
  );

  background-size: var(--dot-gap) var(--dot-gap);
  background-position: center;
}

@keyframes slide-up {
  0%   { transform: translateY(100%); }
  100% { transform: translateY(0); }
}

@keyframes slide-down {
  0%   { transform: translateY(0); }
  100% { transform: translateY(100%); }
}

@keyframes fade-in {
  0%   { opacity: 0 }
  100% { opacity: 1 }
}

@keyframes fade-out {
  0%   { opacity: 1 }
  100% { opacity: 0 }
}

.animate-slide-up {
  animation: slide-up 0.25s ease-out;
}

.animate-slide-down {
  animation: slide-down 0.25s ease-in;
}

.animate-fade-in {
  animation: fade-in 0.25s ease-out
}

.animate-fade-out {
  animation: fade-out 0.25s ease-in
}