@import "tailwindcss";

.bg-dotted {
  --dot-size: 1px;
  --dot-gap: 28px;

  background-image: radial-gradient(
    circle var(--dot-size),
    rgba(255, 255, 255, 0.05) 99%,
    transparent 100%
  );

  background-size: var(--dot-gap) var(--dot-gap);
  background-position: center;
}

